@model AES.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";
}

@{
    if (Model == null)
    {
        <div>
            <h2>Ooops! An error has occurred, but don't worry. Our team will be notified and we will correct it soon!</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Title;

        <div>
            <h2>@Html.Raw(Model.Message)</h2>
        </div>

    }
}
