@model AES.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "An error has occurred";
}

<div class="container">
    <div style="padding-top: 200px; text-align: center">
        @{
            if (Model == null)
            {
                <div>
                    <h2>Ooops! An error has occurred, but don't worry. Our team will be notified and we will correct it soon!</h2>
                </div>
            }
            else
            {
                {
                    <h2>@Html.Raw(Model.Message)</h2>
                }
            }
        }
    </div>
</div>